*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --dark: black;
    --light: white;
    --primary: #d90368;
    --secondary: gray;
    --terceary: #8c0143;
}
body{
    height: 100vh;
}
button{
    cursor: pointer;
}
/*HEADER*/

nav{
    position:sticky;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    height: 7vh;
    padding-right: 5rem;
    padding-left: 5rem;
}
.logo>a>img{
    height: 3rem;
}
.logo>a>img:hover{
    scale: 1.1;
    transition: .5s;
}
.logo>a>img:not(hover){
    scale: 1;
    transition: .5s;
}
nav>ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav>ul>li>a{
    background-color: var(--primary);
    padding: .5rem;
    text-decoration: none;
    color: var(--light);
    border-radius: 5px;
}
nav>ul>li>a:hover{
    background-color: var(--terceary);
}
.site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: var(--terceary);
    padding-left: 5rem;
    padding-right: 5rem;
    color: var(--light);
}
.site>a>i{
    scale: 3;
    color: var(--light);
}
.site>a>i:hover{
    scale: 3.4;
}
/*MAIN*/
main{
    min-height: 70vh;
}
    /*Buscador*/
.formSearch{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}
.formSearch>fieldset{
    border: none;
    display: flex;
    gap:.5em;
}
.formSearch>fieldset>label:hover, .formSearch>fieldset>input:hover{
    cursor: pointer;
    color: var(--primary)
}
    /*Cards*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    gap: 2em;
}
.cards>section{
    background-color: var(--terceary);
    color: var(--light);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    width: 20em;
    height: 25em;
}
.cards>section>img{
    height: 15em;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.priceCard{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
}
.priceCard>button{
    width: 50%;
    height: 2em;
    color: var(--light);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
}
.priceCard>button:hover{
    background-color: var(--secondary);
}
    /*Form*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}
.contact>fieldset, .contact>input[type="submit"]{
    border: none;
    width: 100%;
    max-width: 40rem;
}
.contact>fieldset>*{
    width: 100%;
    display:block;
    align-self: center;
}
.contact>fieldset>input{
    height: 2em;
}
.contact>input[type="submit"]{
    color: var(--light);
    background-color: var(--primary);
    height: 2rem;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
}
.contact>input[type="submit"]:hover{
    background-color: var(--terceary);
}
textarea{
    resize:none;
}
    /*Table*/
.table{
    display: flex;
    padding: 2rem;
    justify-content: center;
}
tr:first-child>td{
    background-color: var(--primary);
    color: var(--light);
    font-size: 1.5rem;
    padding: .5rem;
}
td, th{
    border: 2px solid var(--terceary);
    height: 2rem;
    padding: .5rem;
}
/*FOOTER*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
    height: 10vh;
    background-color: var(--terceary);
    color: var(--light);
}
.redes{
    display:flex;
    justify-content: center;
    gap: 3em;
}
.redes>a>i{
    scale: 2.5;
    border-radius: 50%;
    background-color: var(--primary);
    padding: .3em;
    text-decoration: none;
    color: var(--light);
}
.redes>a>i:hover{
    translate: 0 -.2em;
    filter: drop-shadow(-1px 2px var(--secondary));
}